<a href="https://colab.research.google.com/github/violetassom/Python-for-Data-Analysis/blob/main/n121a_hypothesis_test_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 2 / NOTE 1*

# 📝 Assignment

# 가설 검정

## 1. One-Sample T-test 연습

### 데이터 불러오기
- [서울시 가로수 데이터셋](https://data.seoul.go.kr/dataList/367/S/2/datasetView.do)을 사용합니다.

다음 링크를 참조하세요. 
<https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/seoul_tree/seoul_tree.txt>

In [17]:
import pandas as pd
import numpy as np

In [18]:
# 아래의 코드를 실행해주세요
!pip install scipy --upgrade

Requirement already up-to-date: scipy in /usr/local/lib/python3.7/dist-packages (1.7.0)
Requirement already satisfied, skipping upgrade: numpy<1.23.0,>=1.16.5 in /usr/local/lib/python3.7/dist-packages (from scipy) (1.19.5)

In [19]:
# 이 곳에 답안을 작성하시기 바랍니다
seoul = pd.read_table('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/seoul_tree/seoul_tree.txt')
seoul.head()

     기간  자치구    노선수       수량       종별  ...  종별.15  종별.16 종별.17   종별.18   종별.19
0    기간  자치구    노선수       수량     은행나무  ...    무궁화    소나무    목련    이팝나무      기타
1  2019  서울시  1,412  307,351  108,050  ...  2,374  4,539   378  20,088  20,112
2  2019  종로구     70    7,329    4,072  ...      -    239     -     711      29
3  2019   중구     48    8,250    3,640  ...     46  2,162     -     470     817
4  2019  용산구     39    7,835    4,444  ...      -     51   126     198     780

[5 rows x 24 columns]

In [20]:
seoul.columns

Index(['기간', '자치구', '노선수', '수량', '종별', '종별.1', '종별.2', '종별.3', '종별.4', '종별.5',
       '종별.6', '종별.7', '종별.8', '종별.9', '종별.10', '종별.11', '종별.12', '종별.13',
       '종별.14', '종별.15', '종별.16', '종별.17', '종별.18', '종별.19'],
      dtype='object')

### "서울시에는 구별로 평균 약 400 그루 정도의 `이팝나무`가 있다"라는 가설에 대해 가설검정을 시행하세요.

- 단, `서울시`, `공원녹지사업소`, `시설관리공단` 부분의 데이터는 제외합니다.
- 가설검정 결과의 pvalue 값을 `pv1`에 저장하세요. (`.pvalue` 사용)

In [21]:
new_header = seoul.iloc[0]
seoul = seoul[1:]
seoul.columns = new_header
seoul.head()

0    기간  자치구    노선수       수량     은행나무  ...    무궁화    소나무   목련    이팝나무      기타
1  2019  서울시  1,412  307,351  108,050  ...  2,374  4,539  378  20,088  20,112
2  2019  종로구     70    7,329    4,072  ...      -    239    -     711      29
3  2019   중구     48    8,250    3,640  ...     46  2,162    -     470     817
4  2019  용산구     39    7,835    4,444  ...      -     51  126     198     780
5  2019  성동구     38    8,120    1,090  ...      -     53    -     709     646

[5 rows x 24 columns]

In [22]:
cond = ((seoul['자치구']=='서울시')|(seoul['자치구']=='공원녹지사업소')|(seoul['자치구']== '시설관리공단'))
print(seoul.shape)
seoul = seoul[~cond]
seoul.shape

<bound method DataFrame.info of 0     기간      자치구    노선수       수량     은행나무  ...    무궁화    소나무   목련    이팝나무      기타
1   2019      서울시  1,412  307,351  108,050  ...  2,374  4,539  378  20,088  20,112
2   2019      종로구     70    7,329    4,072  ...      -    239    -     711      29
3   2019       중구     48    8,250    3,640  ...     46  2,162    -     470     817
4   2019      용산구     39    7,835    4,444  ...      -     51  126     198     780
5   2019      성동구     38    8,120    1,090  ...      -     53    -     709     646
6   2019      광진구     28    7,223    1,247  ...      -     20  113     760     443
7   2019     동대문구     43   10,664    3,749  ...      1      -    -   1,176     456
8   2019      중랑구     57    8,365    2,774  ...    212     64    -     449   1,156
9   2019      성북구     78    8,449    2,722  ...      5     97    -     853     547
10  2019      강북구     31    7,789    3,510  ...      -  1,007    -     575     410
11  2019      도봉구     63    9,572    4,914  ...    214     15    -      47   1,070
12  2019      노원구     50   14,489    6,505  ...    150     32    1     142   1,135
13  2019      은평구     35    9,880    4,324  ...      3      -    -     443     582
14  2019     서대문구     39    8,627    3,474  ...     70      -    -     493   1,120
15  2019      마포구     92   14,538    3,353  ...      -    124   93   1,280     348
16  2019      양천구     69   13,501    5,622  ...    197      -    -     784     595
17  2019      강서구     55   13,719    3,977  ...     59    282    -   1,426     568
18  2019      구로구     81   11,548    3,594  ...      -     30   26   1,082   1,210
19  2019      금천구     30    6,603    3,545  ...      -      5    -     184      69
20  2019     영등포구    114   18,220    5,879  ...      -     40   19   1,281     651
21  2019      동작구     29    7,083    2,178  ...    206      7    -     397     794
22  2019      관악구     32   10,154    2,280  ...  1,120     59    -     249   1,194
23  2019      서초구     56   16,548    3,800  ...     91      -    -     446   1,143
24  2019      강남구     60   23,349    7,210  ...      -      -    -     768     913
25  2019      송파구     99   22,858   11,894  ...      -    215    -   1,651     450
26  2019      강동구     66   17,152    5,474  ...      -      -    -     642   1,969
27  2019  공원녹지사업소      1      236      179  ...      -      -    -       4       -
28  2019   시설관리공단      9   15,250    2,600  ...      -     37    -   2,868   1,017

[28 rows x 24 columns]>

<bound method DataFrame.info of 0     기간   자치구  노선수      수량    은행나무  ...    무궁화    소나무   목련   이팝나무     기타
2   2019   종로구   70   7,329   4,072  ...      -    239    -    711     29
3   2019    중구   48   8,250   3,640  ...     46  2,162    -    470    817
4   2019   용산구   39   7,835   4,444  ...      -     51  126    198    780
5   2019   성동구   38   8,120   1,090  ...      -     53    -    709    646
6   2019   광진구   28   7,223   1,247  ...      -     20  113    760    443
7   2019  동대문구   43  10,664   3,749  ...      1      -    -  1,176    456
8   2019   중랑구   57   8,365   2,774  ...    212     64    -    449  1,156
9   2019   성북구   78   8,449   2,722  ...      5     97    -    853    547
10  2019   강북구   31   7,789   3,510  ...      -  1,007    -    575    410
11  2019   도봉구   63   9,572   4,914  ...    214     15    -     47  1,070
12  2019   노원구   50  14,489   6,505  ...    150     32    1    142  1,135
13  2019   은평구   35   9,880   4,324  ...      3      -    -    443    582
14  2019  서대문구   39   8,627   3,474  ...     70      -    -    493  1,120
15  2019   마포구   92  14,538   3,353  ...      -    124   93  1,280    348
16  2019   양천구   69  13,501   5,622  ...    197      -    -    784    595
17  2019   강서구   55  13,719   3,977  ...     59    282    -  1,426    568
18  2019   구로구   81  11,548   3,594  ...      -     30   26  1,082  1,210
19  2019   금천구   30   6,603   3,545  ...      -      5    -    184     69
20  2019  영등포구  114  18,220   5,879  ...      -     40   19  1,281    651
21  2019   동작구   29   7,083   2,178  ...    206      7    -    397    794
22  2019   관악구   32  10,154   2,280  ...  1,120     59    -    249  1,194
23  2019   서초구   56  16,548   3,800  ...     91      -    -    446  1,143
24  2019   강남구   60  23,349   7,210  ...      -      -    -    768    913
25  2019   송파구   99  22,858  11,894  ...      -    215    -  1,651    450
26  2019   강동구   66  17,152   5,474  ...      -      -    -    642  1,969

[25 rows x 24 columns]>

In [23]:
def remove_com(string):
  return string.replace(',','')

In [24]:
def conver_int(string):
  return int(string)

In [32]:
def convert_zero(missing):
  return missing.replace('-','0')

In [26]:
seoul = seoul.reset_index()
seoul = seoul.iloc[:,1:]
seoul = seoul.fillna(0)
seoul.head()

0     기간   자치구  노선수      수량    은행나무  ...    무궁화    소나무   목련   이팝나무     기타
0   2019   종로구   70   7,329   4,072  ...      -    239    -    711     29
1   2019    중구   48   8,250   3,640  ...     46  2,162    -    470    817
2   2019   용산구   39   7,835   4,444  ...      -     51  126    198    780
3   2019   성동구   38   8,120   1,090  ...      -     53    -    709    646
4   2019   광진구   28   7,223   1,247  ...      -     20  113    760    443
5   2019  동대문구   43  10,664   3,749  ...      1      -    -  1,176    456
6   2019   중랑구   57   8,365   2,774  ...    212     64    -    449  1,156
7   2019   성북구   78   8,449   2,722  ...      5     97    -    853    547
8   2019   강북구   31   7,789   3,510  ...      -  1,007    -    575    410
9   2019   도봉구   63   9,572   4,914  ...    214     15    -     47  1,070
10  2019   노원구   50  14,489   6,505  ...    150     32    1    142  1,135
11  2019   은평구   35   9,880   4,324  ...      3      -    -    443    582
12  2019  서대문구   39   8,627   3,474  ...     70      -    -    493  1,120
13  2019   마포구   92  14,538   3,353  ...      -    124   93  1,280    348
14  2019   양천구   69  13,501   5,622  ...    197      -    -    784    595
15  2019   강서구   55  13,719   3,977  ...     59    282    -  1,426    568
16  2019   구로구   81  11,548   3,594  ...      -     30   26  1,082  1,210
17  2019   금천구   30   6,603   3,545  ...      -      5    -    184     69
18  2019  영등포구  114  18,220   5,879  ...      -     40   19  1,281    651
19  2019   동작구   29   7,083   2,178  ...    206      7    -    397    794
20  2019   관악구   32  10,154   2,280  ...  1,120     59    -    249  1,194
21  2019   서초구   56  16,548   3,800  ...     91      -    -    446  1,143
22  2019   강남구   60  23,349   7,210  ...      -      -    -    768    913
23  2019   송파구   99  22,858  11,894  ...      -    215    -  1,651    450
24  2019   강동구   66  17,152   5,474  ...      -      -    -    642  1,969

[25 rows x 24 columns]

In [35]:
ran = seoul.shape[1]

for i in range(2,ran):
  seoul.iloc[:,i] = seoul.iloc[:,i].apply(remove_com)
  seoul.iloc[:,i] = seoul.iloc[:,i].apply(convert_zero)
  seoul.iloc[:,i] = seoul.iloc[:,i].apply(conver_int)

In [37]:
seoul.dtypes

0
기간        object
자치구       object
노선수        int64
수량         int64
은행나무       int64
양버즘나무      int64
느티나무       int64
왕벚나무       int64
은단풍나무      int64
메타세콰이어     int64
회화나무       int64
가죽나무       int64
감나무        int64
수양버들       int64
튜울립나무      int64
칠엽수        int64
포플러        int64
느릅나무       int64
살구나무       int64
무궁화        int64
소나무        int64
목련         int64
이팝나무       int64
기타         int64
dtype: object

In [38]:
from scipy import stats

In [42]:
# 이 곳에 답안을 작성하시기 바랍니다
pv1 = stats.ttest_1samp(seoul['이팝나무'],400).pvalue
pv1

0.002470712850935819


### 이번에는 10개의 구를 샘플링하여, 위에 대한 가설검정을 다시 한번 시행해보세요.

- 단, 아래의 코드를 참조하여 sample을 위한 seed 는 123로 설정하세요.
- 가설검정 결과의 pvalue값을 `pv2`에 저장하세요

In [61]:
import numpy as np
np.random.seed(123)

cond = np.random.choice(seoul['자치구'], size = 10) # "~"와 " "을 적절한 값으로 채우시면 됩니다
cond

array(['마포구', '용산구', '용산구', '중랑구', '금천구', '동작구', '노원구', '강남구', '중구',
       '종로구'], dtype=object)

In [51]:
seoul_sample = seoul[seoul['자치구'].isin(cond)]
seoul_sample

0     기간  자치구  노선수     수량  은행나무  양버즘나무  ...  살구나무  무궁화   소나무   목련  이팝나무    기타
0   2019  종로구   70   7329  4072   1071  ...     0    0   239    0   711    29
1   2019   중구   48   8250  3640    162  ...    21   46  2162    0   470   817
2   2019  용산구   39   7835  4444   1422  ...    39    0    51  126   198   780
6   2019  중랑구   57   8365  2774   2759  ...     0  212    64    0   449  1156
10  2019  노원구   50  14489  6505   3336  ...    58  150    32    1   142  1135
13  2019  마포구   92  14538  3353   3581  ...    64    0   124   93  1280   348
17  2019  금천구   30   6603  3545   1024  ...     0    0     5    0   184    69
19  2019  동작구   29   7083  2178    829  ...     0  206     7    0   397   794
22  2019  강남구   60  23349  7210   7559  ...     0    0     0    0   768   913

[9 rows x 24 columns]

In [63]:
pv2 = stats.ttest_1samp(seoul_sample['이팝나무'],400).pvalue
pv2

0.38638498922886266

## 2. Two-Sample T-test 연습

### "서울시의 구별 평균 느티나무수와 왕벚나무의 수는 차이가 없다"라는 가설에 대해 가설검정을 시행하세요.

- 단, `서울시`, `공원녹지사업소`, `시설관리공단` 부분의 데이터는 제외합니다.
- 가설검정 결과의 pvalue를 `pv3`에 저장하세요

In [66]:
# 이 곳에 답안을 작성하시기 바랍니다
pv3 = stats.ttest_ind(seoul['느티나무'],seoul['왕벚나무']).pvalue
pv3

0.6455096880085703


### Two-Sample One-tailed test를 사용하여 **평균 느티나무수가 왕벚나무 수보다 크다**라는 가설에 대한 가설검정을 시행하세요.
- 해당 가설검정의 결과를 `ans`에 저장하세요.

이 때 `ans`가 가질 수 있는 값은 아래와 같습니다 :
1. "느티나무" ( 느티나무의 수가 통계적으로 유의하게 많은 경우 )
2. "왕벚나무" ( 왕벚나무의 수가 통계적으로 유의하게 많은 경우 )
3. "없음" (통계적으로 유의하지 않은 경우)

Two-Sample One-tailed test를 scipy에서 하는 방법은 아래의 링크를 참고 하세요  
참고 링크 : https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_ind.html

In [80]:
stats.ttest_ind(seoul['느티나무'],seoul['왕벚나무'],alternative='greater').pvalue

0.32275484400428517

In [81]:
# 이 곳에 답안을 작성하시기 바랍니다
ans = '느티나무'
ans

'느티나무'

## 🔥 **도전과제**
> 2문제 모두 하면 됩니다.

### 1. Compare mean for multiple-sample 
 
다음 링크를 참조하세요. <https://reneshbedre.github.io/blog/anova.html>

구별, 은행나무, 양버즘나무, 느티나무에 대해서 ANOVA Test를 실행하세요.

단, `서울시`, `공원녹지사업소`, `시설관리공단` 부분의 데이터는 제외합니다.

In [ ]:
# 이 곳에 답안을 작성하시기 바랍니다

### 2. Sampling

- 세션 시간에 배웠던 4가지 sampling (Simple Random, Systematic, Stratified Random, Cluster) 방식을 구현해보세요.

- 이를 위한 데이터는 1 부터 100을 담은 numpy array이며, Sampling 해야 하는 수는 20개 입니다.

- Stratified Random Sampling을 위한 그룹을 나누는 기준은 1-10, 11-20, ... 과 같은 방식입니다.

- Cluster Sampling에서 그룹을 나누는 기준은 5로 나눴을때의 나머지 값입니다. (0,1,2,3,4)

In [ ]:
# 이 곳에 답안을 작성하시기 바랍니다